<html>
<head>
	<title>TREC search</title>
	<style>
		li {
			font-size:12px;
			font-family: Verdana;
			padding-bottom: 10px;			
		}
		li.relev0 {
			background-color: #fdd;
		}
		li.relev1 {
			background-color: #dfd;
		}		
	</style>
</head>
<body>
	<div style="font-size:11px; font-family: Courier; width:600px; border:2px solid; padding: 5px">
	<font color="blue">{{ curtopicdetails.title }}</font><br />
		{{ curtopicdetails.description }}<br />
	</div>
	<h1>Query: {{ query }}</h1>
	<h2>docid: {{ doc_id }}</h2>
	<div style="width: 800px">{{ doc_text|safe }}</div>
<body>
</html>