<html>
<head>
	<title>TREC search</title>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="well well-sm">
			<font color="blue">{{ curtopicdetails.title }}</font><br />
				{{ curtopicdetails.description }}
		</div>
		<h1>Query: {{ query }} <small>docid: {{ doc_id }}</small></h1>
		<div style="width: 800px">{{ doc_text|safe }}</div>
	</div>
<body>
</html>